---
---

@import 'syntax';

:root {
  --page-color: white;
  --text-color: black;
  --text-hover-color: #{lighten(black, 70%)};
  --line-color: #ddd;
}

body.dark {
  --page-color: #202020;
  --text-color: #bebebe;
  --text-hover-color: #{darken(#bebebe, 30%)};
  --line-color: #404040;
}

$font-stack: monospace;
$font-stack-monospace: $font-stack;
$max-page-width: 650px;
$gutter-size: 20px;
$overflow-width: 20px;
$transition-config: .2s ease-in-out;
$line-width: 75%;

$page-color: var(--page-color);
$text-color: var(--text-color);
$line-color: var(--line-color);
$text-dim-color: var(--text-hover-color);

body {
  margin: 0;
  background: $page-color;
  font-family: $font-stack;
  line-height: 1.3em;
  color: $text-color;
}

code {
  font-family: $font-stack-monospace;
}

a:not(.no-style) {
  color: inherit;
  text-decoration: none;
  transition: color $transition-config;

  &:hover {
    color: $text-dim-color;
  }

  &::before {
    content: '[';
    color: $text-color;
  }

  &::after {
    content: ']';
    color: $text-color;
  }
}

.wrapper {
  position: relative;
  margin: 0 auto 25%;
  padding: $gutter-size ($gutter-size + $overflow-width);
  max-width: $max-page-width;

  // Left border
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: $overflow-width;
    width: 1px;
    height: 100%;
    background: $line-color;
  }

  // Left border fade
  &::after {
    content: '';
    position: absolute;
    left: $overflow-width;
    bottom: 0;
    width: 1px;
    height: $overflow-width;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, $page-color 100%);
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

hr {
  position: relative;
  margin: 1em 0;
  margin-left: -($gutter-size + $overflow-width);
  border: none;
  width: $line-width;
  width: calc($line-width + #{$overflow-width});
  height: 1px;
  background: $line-color;
  overflow: visible;

  // Slash
  &::before {
    $width: 20px;

    content: '';
    position: absolute;
    top: 0;
    left: $overflow-width - $width/2;
    width: $width;
    height: 1px;
    background: $line-color;
    transform: rotate(-45deg);
  }

  // Fade
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: $overflow-width;
    height: 1px;
    background: linear-gradient(to right, rgba(0,0,0,0) 0%, $page-color 100%);
  }
}

header {
  position: relative;

  nav {
    ul {
      margin: .5em 0 0 0;
      padding: 0;
      list-style: none;
    }

    li {
      display: inline-block;

      + li {
        margin-left: 2ch;
      }
    }
  }
}

.options {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  button {
    border: none;
    padding: 0;
    background: none;
    color: inherit;
    font: inherit;
    vertical-align: middle;
    cursor: pointer;
  
    i {
      vertical-align: middle;
    }

    &.the-bit {
      font-size: 1.15em;

      .committed-to-the-bit & {
        font-weight: bold;
      }
    }
  }

  button + button {
    padding-left: 10px;
  }
}

// Compiled page content styling
.content {
  .committed-to-the-bit & {
	  text-transform: lowercase;
  }

  .heading-permalink {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 100%;
    box-sizing: border-box;
    padding: 4px ($gutter-size - 8) 4px 0;
    width: $gutter-size + $overflow-width;
    color: $text-dim-color;
    font-size: 16px;
    text-align: right;
    background: $page-color;
    opacity: 0;
    transition: opacity $transition-config, color $transition-config;

    &:hover {
      color: $text-color;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    position: relative;

    &:hover .heading-permalink {
      opacity: 1;
    }
  }

  p {
    margin: 1em 0 0 0;
  }

  ul {
    margin: 0;
    padding: 0;
    padding-left: 2ch;
    list-style: none;
  }

  li {
    position: relative;

    &::before {
      content: '-';
      position: absolute;
      left: -2ch;
    }
  }

  // Inline code
  code {
    color: $text-dim-color;
		text-transform: initial;
    &::before,
    &::after {
      content: '`'
    }
  }

  // Code highlight blocks
  .highlight code {
    &::before,
    &::after {
      content: '```';
      display: block;
      color: $text-dim-color;
    }

    &::before {
      content: '```' attr(data-language);
    }
  }

  // Blockquotes
  blockquote {
    position: relative;
    margin: 0;
    padding: 0;
    padding-left: 2ch;
    font-style: italic;

    &::before {
      content: '>';
      position: absolute;
      left: 0;
      font-style: normal;
    }
  }
}

.posts {
  article + article {
    margin-top: 2em;
  }
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    margin-right: 2ch;

    &:last-child {
      margin-right: 0;
    }
  }
}

// CSS is great.
.social-grid.social-grid {
  display: grid;
  grid-template-columns: min-content min-content auto;
  padding-left: 0;

  li { display: contents; }
  li::before { content: none; }
}

.icon {
  width: 2ch;
  padding-right: 0.25em;
  text-align: center;
  vertical-align: middle;
}

.social-buttons {
  line-height: 0;
  font-size: 0;

  + h3 {
    padding-top: 1em;
  }

  a {
    &::before { content: none; }
    &::after { content: none; }
  }
}
