<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta property="og:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}">
  
  <meta property="theme-color" content="#CDCD22">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/png" href="favicon.png">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU=" crossorigin="anonymous">
  <link rel="stylesheet" href="main.css?{{ site.time | date: '%s' }}">

  <script src="https://kit.fontawesome.com/af2dc5faac.js" crossorigin="anonymous"></script>
  <script src="main.js?{{ site.time | date: '%s' }}"></script>
</head>
<body>
  <div class="wrapper">
    <header>
      <h1>{{ site.title }}</h1>
    </header>

    <hr>

    <main class="content">
      {{ content }}
    </main>

    <hr>

    <footer>
      <ul class="social">
        {% for social in site.data.social %}
          <li>
            <i class="icon {{ social.icon }}"></i>

            {%- if social.url -%}
              <a href="{{ social.url }}" title="{{ social.username }}">
            {%- endif -%}

            {{ social.username }}

            {%- if social.url -%}
              </a>
            {%- endif -%}
          </li>
        {% endfor %}
      </ul>
    </footer>
  </div>
</body>
</html>
